@model bartnikwolski.ViewModels.AdminViewModel.Edit
@{
    ViewBag.Title = "Edytuj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m=>m.PageId)

        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control reg" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control reg" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.Picture)
            @Html.TextBoxFor(m => m.Picture, new { type = "file", multiple = "true" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" />
                <a href='@Url.Action("Index", "Admin")'><input type="button" value="Cofnij" /></a>
            </div>
        </div>
    }
</div>